{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Created</title>
    <link rel="stylesheet" href="{% static 'profiles/profile_styles.css' %}" />
  </head>
  <body>
    <h1>Profile Created Successfully!</h1>
    <p>Your profile has been created successfully. You can view it on the home page.</p>
    <a href="{% url 'create_profile' %}">Go to Home</a>
  </body>
</html>
