* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: sans-serif;
}

.main-navigation {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-navigation a:hover,
.main-navigation a:active {
    color: #CF79F1;
}

.main-navigation h1 a:hover,
.main-navigation h1 a:active {
    color: white;
}