<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'holidays/styles.css' %}" />
    <title>
      {% block title %}
        National Site
      {% endblock %}
    </title>
  </head>
  <body>
    {% include 'includes/_header.html' %}
    <body>
      {% block content %}
        Content Block - SNS
      {% endblock %}
    </body>
    {% include 'includes/_footer.html' %}
  </body>
</html>
