#all-posts {
    margin: 3rem auto;
    width: 90%;
    max-width: 1000px;
}

#all-posts h2 {
    border-bottom: 3px solid var(--wsu-purple);
    display: inline-block;
    padding-bottom: 0.5rem;
}

#all-posts ul {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}