
*{
    text-align: center;
    background-color: rgb(108, 137, 108);
    color: rgb(203, 227, 228);
}
h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

footer{
    font-size: 1.25rem;
    border: 1px solid black;
}