<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'simpleapp_template/style.css' %}" />
    <title>
      {% block title %}
        Title
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      <div>
        <h1>Hello, {{ name }}!</h1>
        <p>This is a simple project to demonstrate the use of Django Templates!</p>
      </div>
    </header>
    {% block content %}

    {% endblock %}
    <footer>Footer For The Full Site</footer>
  </body>
</html>
